@model SocialNetwork.Models.Models.ChangePasswordViewModel

@using (@Ajax.BeginForm("ChangePassword", 
                        null,
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            UpdateTargetId = "password-section",
                            InsertionMode = InsertionMode.Replace
                        }, 
                        new { @class = "form-horizontal", role = "form" }))
{
    //Сообщение пользователю
    <p class="col-md-offset-5 col-md-7 message-error">@ViewBag.MessageForPassword</p>

    //Секция старого пароля
    <div class="form-group">
        @Html.LabelFor(model => model.OldPassword, new { @class = "col-md-5 control-label" })

        <div class="col-md-7">
            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>
    </div>

    //Секция нового пароля
    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, new { @class = "col-md-5 control-label" })

        <div class="col-md-7">
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
    </div>

    //Секция подтверждения нового пароля
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-md-5 control-label" })

        <div class="col-md-7">
            @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
        </div>
    </div>

    //Кнопка отправки формы
    <div class="form-group">
        <div class="col-md-offset-5 col-md-7">
            <input type="submit" class="btn btn-default col-md-10" value="Сменить пароль"/>
        </div>
    </div>
}