@using SocialNetwork.Models.Models
@model SocialNetwork.Models.Models.EditProfileViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditUserData", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(true)
    //Сообщение пользователю
    <p class="col-md-offset-5 col-md-7 message-error">@ViewBag.Message</p>

    @Html.HiddenFor(model => model.Login)

    //Секция Фамилии
    <div class="form-group">
        @Html.LabelFor(model => model.Surname, new {@class = "col-md-5 control-label"})

        <div class="col-md-7">
            @Html.TextBoxFor(model => model.Surname, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Surname)
        </div>
    </div>

    //Секция Имени
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "col-md-5 control-label" })

        <div class="col-md-7">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

    //Секция Отчества
    <div class="form-group">
        @Html.LabelFor(model => model.Patronymic, new { @class = "col-md-5 control-label" })

        <div class="col-md-7">
            @Html.TextBoxFor(model => model.Patronymic, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Patronymic)
        </div>
    </div>

    //Секция даты рождения
    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth, new { @class = "col-md-5 control-label" })

        <div class="col-md-7">
            @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>
    </div>

    //Секция электронной почты
    <div class="form-group">
        @Html.LabelFor(model => model.Email, new {@class = "col-md-5 control-label"})

        <div class="col-md-7">
            @Html.TextBoxFor(model => model.Email, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    //Секция обо мне
    <div class="form-group">
        @Html.LabelFor(model => model.AboutMe, new { @class = "col-md-5 control-label" })

        <div class="col-md-7">
            @Html.TextAreaFor(model => model.AboutMe, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AboutMe)
        </div>
    </div>

    //Кнопка отправки формы
    <div class="form-group">
        <div class="col-md-offset-5 col-md-7">
            <input type="submit" class="btn btn-default col-md-10" value="Внести изменения" />
        </div>
    </div>
}

<div class="col-md-12" id="password-section">
    @Html.Partial("ChangePassword", new ChangePasswordViewModel())
</div>

<script>
    $(document).ready(function() {
        $("#DateOfBirth").datepicker({
            format: "dd.mm.yyyy",
            clearBtn: true,
            language: "ru",
            autoclose: true
        });
    });
</script>

@section SignalR {
    <input type="hidden" id="user-id" value="@ViewBag.UserId" />
    <script src="~/Scripts/SignalR/SNSignalR.js"></script>
}