@model SocialNetwork.Models.Models.MainPageViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="row">

    <!--Фото-->
    <div class="col-md-4">
        @Html.Raw("<img class=\"main-photo img-responsive\" src=\"data:image/*;base64,"
                                + Convert.ToBase64String(Model.MainPhoto) + "\" />")

        <ul class="nav nav-pills">
            <li class="col-md-12 text-center">@Html.ActionLink("Редактировать фото", "LoadPhoto", "Home")</li>
        </ul>
    </div>

    <!--Описание-->
    <div class="col-md-8">
        <h3>@Model.Surname @Model.Name</h3>
        <table class="table">
            <tbody>
            <tr>
                <td>Дата Рождения</td>
                <td>@Model.DateOfBirth</td>
            </tr>
            <tr>
                <td>О себе</td>
                <td>@Model.AboutMe</td>
            </tr>
            </tbody>
        </table>
        <ul class="nav nav-pills">
            <li class="">@Html.ActionLink("Редактировать личную информацию", "EditUserData", "Home")</li>
        </ul>
    </div>

</div>