@using SocialNetwork.Models.Enums
@model SocialNetwork.Models.Models.UsersViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="row">

    <!--Фото-->
    <div class="col-md-4">
        @Html.Raw("<img class=\"main-photo img-responsive\" src=\"data:image/*;base64,"
                  + Convert.ToBase64String(Model.MainPhoto) + "\" />")

        <input id="id" type="hidden" value="@Model.Id" />

        <ul class="nav nav-pills">
            @switch (@Model.Status)
            {
                case FriendStatusEnum.Friends:
                    <li class="col-md-12 text-center">@Html.ActionLink("Убрать из друзей",
                                                                       "AddRequestToFriendListFromUserPage",
                                                                       "Home",
                                                                       new {id = @Model.Id},
                                                                       null)</li>
                    break;
                case FriendStatusEnum.UserWaitAccept:
                    <li class="col-md-12 text-center">@Html.ActionLink("Хочет дружить. Добавить в друзья", 
                                                                       "AddRequestToFriendListFromUserPage", 
                                                                       "Home", 
                                                                       new { id = @Model.Id },
                                                                       null)</li>
                    break;
                case FriendStatusEnum.WaitAccept:
                    <li class="col-md-12 text-center">@Html.ActionLink("Отменить запрос дружбы", 
                                                                       "AddRequestToFriendListFromUserPage", 
                                                                       "Home", 
                                                                       new { id = @Model.Id },
                                                                       null)</li>
                    break;
                case FriendStatusEnum.NoFriends:
                    <li class="col-md-12 text-center">@Html.ActionLink("Дружить", 
                                                                       "AddRequestToFriendListFromUserPage", 
                                                                       "Home", 
                                                                       new { id = @Model.Id },
                                                                       null)</li>
                    break;
            }
            <li class="col-md-12 text-center">@Html.ActionLink("Написать сообщение", "Index", "Home")</li>
        </ul>
    </div>

    <!--Описание-->
    <div class="col-md-8">
        <h3>@Model.Surname @Model.Name</h3>
        <table class="table">
            <tbody>
                <tr>
                    <td>Дата Рождения</td>
                    <td>@Model.DateOfBirthString</td>
                </tr>
                <tr>
                    <td>О себе</td>
                    <td>@Model.AboutMe</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>