<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/Home/layout.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Login/Login.css")
</head>
<body>

<div class="row main">

    <!--Верхний контейнер-->
    <div class="row top-container">
        <ul class="nav nav-pills">
            @if (Request.IsAuthenticated)
            {
                <li class="col-md-3 col-md-offset-9 text-center">@Html.ActionLink("Выход", "LogOff", "Account")</li>
            }
            else
            {
                <li class="col-md-3 col-md-offset-9 text-center">@Html.ActionLink("Вход", "Login", "Account")</li>
            }
        </ul>
    </div>

    <!--Основной контейнер-->
    <div class="row col-md-8 middle-container">
        
        <!--Левое меню-->
        <div class="col-md-3 left-menu">
            <ul class="nav nav-pills nav-stacked">
                <li>@Html.ActionLink("Моя страница", "Index", "Home")</li>
                <li>@Html.ActionLink("Мои друзья", "Index", "Home")</li>
                <li>@Html.ActionLink("Редактировать профиль", "EditUserData", "Home")</li>
                <li>@Html.ActionLink("Все пользователи", "Index", "Home")</li>
            </ul>
        </div>

        <!--Тело с данными-->
        <div class="col-md-9">
            @RenderBody()
        </div>

    </div>

</div>
</body>
</html>
