<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    @Styles.Render("~/Content/Site.css?349")
    @Styles.Render("~/Content/Home/layout.css?356")
    @Styles.Render("~/Content/Login/Login.css?356")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/locales/bootstrap-datepicker.ru.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.1.min.js")
    @Scripts.Render("~/signalr/hubs")
</head>
<body>
    @RenderSection("SignalR", false)
<div class="main">
    
    <!--Верхний контейнер-->
    <div class="row top-container">
        <ul class="nav nav-pills">
            <li class="col-md-5 text-center" style="font-size: 2em;">Социальная сеть</li>
            @if (Request.IsAuthenticated)
            {
                <li class="text-center" style="margin-left: 28%;">@Html.ActionLink("Выход", "LogOff", "Account", new {}, new {@class = "login-link"})</li>
            }
            else
            {
                <li class="text-center" style="margin-left: 28%;">@Html.ActionLink("Вход", "Login", "Account", new {}, new {@class = "login-link"})</li>
            }
        </ul>
    </div>

    <!--Основной контейнер-->
    <div class="row col-md-8 middle-container">

        <!--Левое меню-->
        @if (@ViewBag.RenderMenu)
        {
            <div class="col-md-3 left-menu">
                <ul class="nav nav-pills nav-stacked">
                    <li>@Html.ActionLink("Моя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("Мои друзья", "ShowMyFriends", "Friends")</li>
                    <li>@Html.ActionLink("Мои диалоги", "MyDialogs", "Dialogs")</li>
                    <li>@Html.ActionLink("Редактировать профиль", "EditUserData", "Home")</li>
                    <li>@Html.ActionLink("Все пользователи", "ShowAllUsers", "Friends")</li>
                </ul>
            </div>

            <!--Тело с данными-->
            <div class="col-md-9">
                @RenderBody()
            </div>
        }
        else
        {
            <!--Тело с данными-->
            <div class="col-md-12">
                @RenderBody()
            </div>
        }

    </div>

    <!--Нижний контейнер-->
    <div class="row bottom-container text-center">
        <p>Социальная сеть. 2017г.</p>
    </div>
</div>
</body>
</html>
